[submodule "src/core_atmosphere/physics/TEMPO"]
	path = src/core_atmosphere/physics/TEMPO
	url = https://github.com/NCAR/TEMPO.git
[submodule "src/core_atmosphere/physics/UGWP"]
	path = src/core_atmosphere/physics/UGWP
	url = https://github.com/NOAA-GSL/UGWP.git
[submodule "src/core_atmosphere/physics/MYNN-EDMF"]
	path = src/core_atmosphere/physics/MYNN-EDMF
	url = https://github.com/NCAR/MYNN-EDMF.git
