[submodule "src/core_atmosphere/physics/physics_noaa/UGWP"]
	path = src/core_atmosphere/physics/physics_noaa/UGWP
	url = https://github.com/NOAA-GSL/UGWP
[submodule "src/core_atmosphere/physics/physics_noaa/TEMPO"]
	path = src/core_atmosphere/physics/physics_noaa/TEMPO
	url = https://github.com/NCAR/TEMPO
[submodule "src/core_atmosphere/physics/physics_noaa/MYNN-EDMF"]
	path = src/core_atmosphere/physics/physics_noaa/MYNN-EDMF
	url = https://github.com/NCAR/MYNN-EDMF
