[submodule "src/core_atmosphere/physics/TEMPO"]
	path = src/core_atmosphere/physics/TEMPO
	url = https://github.com/NCAR/TEMPO.git
[submodule "src/core_atmosphere/physics/UGWP"]
	path = src/core_atmosphere/physics/UGWP
	url = https://github.com/mdtoyNOAA/UGWP.git
